<div class="container">
  <div class="card">
    <div class="card-header">
      <h3>Contactos</h3>
    </div>
    <div class="card-body">
      <table class="table table-hover">
        <thead class="text-center">
          <tr>
            <th>Código</th>
            <th>Emisor</th>
            <th>Descripción</th>
            <th>Monto</th>
            <th>Fecha Registro</th>
        </thead>
        <tbody>
          <tr *ngFor="let factura of facturas" class="text-center">
            <td>{{factura.id}}</td>
            <td>{{factura.emisor}}</td>
            <td>{{factura.descripcion}}</td>
            <td>{{factura.valor}}</td>
            <td>{{factura.fecha}}</td>
            <td>
              <button (click)="Editar(factura)" class="btn btn-warning" >Editar</button>
              
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
